[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
exif = "*"
tqdm = "*"
opencv-python = "*"
psutil = "*"
colorlog = "*"
black = {extras = ["jupyter"], version = "*"}

[dev-packages]
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.9"
